.add-article{
    width: 40%;
    .add-article-label {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    .modal-content{
        padding-bottom: 0px;
    }
    .modal-footer{
        padding-right: 20px;
        margin-bottom: 20px;
        width: 98%;
    }
}